<div class="grid-wrapper homepage-hero-band">
  <div class="grid__item width-7-12 homepage-hero-band-callout">
    <img src="{{site.baseurl}}/assets/images/home/SSJ_hero.svg" alt="Supersonic Subatomic Java">
  </div>
  <div class="grid__item width-4-12 text-center homepage-hero-band-calloutcontent">
    <p class="nowavailable">Now Available</p>
    <h3>Quarkus {{ site.data.versions.quarkus.version | replace: ".Final", "" }}</h3>
    <p class="moreinfo"><a href="{{ site.data.versions.quarkus.announce }}">Read the release notes</a></p>
  </div>
  <div class="grid__item width-12-12 text-center">
    <a href="{{site.baseurl}}/get-started/" class="button-cta">Get Started with Quarkus</a>
    <a href="{{site.baseurl}}/guides/" class="button-cta">Read the Guides</a>
  </div>  
</div>